<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.wings.model.mapper.TblPurchaseHistoryMapper">

	<insert id="insert" useGeneratedKeys="true">
		INSERT INTO tbl_purchase_history
			(user_id, product_id, product_count, price, destination_id)
		SELECT 
			cart.user_id, cart.product_id, cart.product_count,product.price, #{destinationId}
		FROM
			tbl_cart cart
		JOIN
			mst_product product
		ON
			cart.product_id = product.id
		WHERE
			cart.user_id = #{userId};
	</insert>

	<select id="findPurchaseHistory" resultType="jp.co.internous.wings.model.domain.dto.PurchaseHistoryDto">
		SELECT<!-- 指定したデータを抽出 -->
	  		DATE_FORMAT(tbl_purchase_history.purchased_at, '%Y/%m/%d %T') AS purchased_at,
	  		mst_product.product_name AS product_name,
	  		tbl_purchase_history.price AS price,
	  		tbl_purchase_history.product_count AS product_count,
	  		mst_destination.family_name AS family_name,
	  		mst_destination.first_name AS first_name,
	  		mst_destination.address AS address
		FROM tbl_purchase_history<!-- 指定した3つのテーブルを結合 -->
	  	JOIN
	  		mst_product
	  	ON
	  		tbl_purchase_history.product_id = mst_product.id
	  	JOIN
	  		mst_destination
	  	ON
	  		tbl_purchase_history.destination_id = mst_destination.id
  		WHERE
  			tbl_purchase_history.user_id = #{userId} AND tbl_purchase_history.status = 1 <!-- where句でuserIdが一致し、status = 1が入力されている該当の値のみを表示 -->
		ORDER BY
			purchased_at DESC; <!-- purchased_atを降順に指定  -->
	</select>
	
</mapper>

